<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisao</title>
    <link rel="stylesheet" href="styles.css">
    <!-- linkar ao script -->
    <script src="script.js"></script>

</head>

<body>
    <h1>Título</h1>
    <div>
        <ul>
            <p>Descrição</p>
            <div class="secaoBotoes">
                <button onclick="funcao()">Botão</button>
                
            </div>
            <p>Resultado</p>
        </ul>
    </div>


</body>

</html>